.o_tag_color_0 { background-color: #cd7f32 !important; color: #fff !important; }  /* Bronze */
.o_tag_color_1 { background-color: #c0c0c0 !important; color: #000 !important; }  /* Silver */
.o_tag_color_2 { background-color: #ffd700 !important; color: #000 !important; }  /* Gold */
.badge-warning {
    background-color: gold;
    color: black;
    padding: 2px 6px;
    font-weight: bold;
    border-radius: 3px;
    font-size: 0.8em;
}

